
:root{
  --bgcolor: #282c34;
}
body {
  text-align: center;
  background-color: var(--bgcolor);
  
}
/* 
class styling
 */

.random-word {
  color: white;
  position: relative;
  margin: auto;
  width: 10%;
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  font-family: "Source Code Pro", monospace;
}
.random-word::before,
.random-word::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.random-word::before {
  background-color: gray;
  animation: slide 1s ease forwards;
}
@keyframes slide {
  to {
    left: 100%;
  }
}
.EnterButton {
  color: black;
  position: relative;
  display: inline-block;
  padding: 10px;
  background-color: hsl(220, 13%, 30%);
  border: none;
  border-radius: 10%;
  aspect-ratio: 16 / 9;
  width: 20%;
  font-size: 3rem;
  font-family: sans-serif;

}

.EnterButton:hover {
  filter: brightness(0.9)
}

.EnterButton:active {
  filter: brightness(0.8)
}

.space {
  width: 2%;
  display: inline-block;
}