
:root{
  --bgcolor: #282c34;
}
body {
  text-align: center;
  background-color: var(--bgcolor);
  
}
/* 
class styling
 */
.random-word {
  color: white;
  background-color: white;
  font-size: calc(10px + 6vmin);
  animation: swap 500ms forwards;
}
@keyframes swap {
  from {
    left: 0%;
  }
  to {
    left: 100%;
    background-color: var(--bgcolor);
  }
}
.EnterButton {
  color: black;
  position: relative;
  display: inline-block;
  padding: 10px;
  background-color: hsl(220, 13%, 30%);
  border: none;
  border-radius: 10%;
  aspect-ratio: 16 / 9;
  width: 20%;
  font-size: 2rem;
  font-family: sans-serif;

}

.EnterButton:hover {
  filter: brightness(0.9)
}

.EnterButton:active {
  filter: brightness(0.8)
}

.space {
  width: 2%;
  display: inline-block;
}